<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-package-war:war">
    <output-path>E:/Project/gitdemo/spring-boot-examples/spring-boot-package-war/target</output-path>
    <root id="archive" name="spring-boot-package-war-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-package-war:war exploded" />
    </root>
  </artifact>
</component>